body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  font-size: 563%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.circular {
  border-radius: 100%;
}
.Top {
  background-color: #E4f9f5;
}

.Middle {

}

.Bottom {
}

.bottom-cloud {
  position: absolute;
}
.footer-link {
  color: #11999E;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.comp-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.water-img {
  float: right;
  margin-left: 30px;
  width: 25%
}
